{{- define "main" -}}

<section id="list">
  {{- $baseurl := .Site.BaseURL }}
  {{- if or (eq .Data.Singular "tag") (eq .Data.Singular "category") }}
  <h2>{{ .Data.Term | humanize }}</h2>
  {{- else }}
  <h2>{{ .Title }}</h2>
  {{- end }}
  {{ .Content }}
  {{- range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups  }}
  <h3>{{ .Key }}</h3>
  <ul>
    {{- range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
      <time class="date-meta">{{ .Date.Format "2 Jan 2006" }}</time>
    </li>
    {{- end }}
  </ul>
  {{- end }}
</section>
{{- template "_internal/pagination.html" . }}
{{- end }}