  <ul id="social-media">
    {{- if .Site.Author.twitter }}
    <li><a href="https://twitter.com/{{ .Site.Author.twitter }}">twitter</a></li>
    {{- end }}
    {{- if .Site.Author.linkedin }}
    <li><a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}">linkedin</a></li>
    {{- end }}
    {{- if .Site.Author.github }}
    <li><a href="https://github.com/{{ .Site.Author.github }}">github</a></li>
    {{- end }}
    {{- if .Site.Author.gitlab }}
    <li><a href="https://gitlab.com/{{ .Site.Author.gitlab }}">gitlab</a></li>
    {{- end }}
    {{- if .Site.Author.facebook }}
    <li><a href="https://www.facebook.com/{{ .Site.Author.facebook }}">facebook</a></li>
    {{- end }}
    {{- if .Site.Author.instagram }}
    <li><a href="https://instagram.com/{{ .Site.Author.instagram }}">instagram</a></li>
    {{- end }}
  </ul>
